
@import
"https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

        
 *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
 }

 body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(../img/2019-07-22-03-43-45-rotated.jpg);
    background-size: cover;
 }

 html {
    scroll-behavior: smooth;
 }

 nav {
    background: rgb(48, 85, 98);
    height: 80px;
    height:100%;
 }

 label.title {
    color: white;
    font-size: 34px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
 }

 nav ul {
    float: right;
    margin-right: 20px;
 }

 nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
 }

 nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 3px;
 }

 .active,a:hover{
    transition: .5s;
 }

 .checkbutton {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 }

 #check {
    display: none;
 }

 @media (max-width:952px){
    label.title {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font: 16px;
     }
 }

 @media (max-width: 858px){
    .checkbutton {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(93, 141, 170);
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }
 }
 
 .section {
    height: calc(100vh - 80px);
 }

 section ul li {
    text-align: center;
    color: rgb(48, 85, 98);
    font-size: 100%;
    
 }

.zipcodeText {
    text-align: center;
    font-size: 136%;
}

#zipcode {
    border-radius: 30px;
    background-color: rgb(109, 141, 173);
    font-size: 80%;
    
}

.recipeDay {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 150%;

}